.container {
  width: 100%;
  background-color: #53564f;
  border-radius: 32px 32px 32px 32px;
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 32px 0;
  padding: 0 32px;
}

.title {
  flex: 0 0 auto;
  font-weight: 700;
  color: rgb(46, 151, 249);
  padding: 8px 0;
  border: solid 4px rgb(0, 119, 255);
  background-color: black;
  box-shadow: 8px 8px 0px black;
}

.vistasContainer {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
}

.endSection {
  font-size: 32px;
  margin-right: 8px;
  transform: rotate(-90deg);
  transition: transform 0.25s ease-in;
}
.endSection:hover {
  cursor: pointer;
  transform: translateY(-2px) scale(1.2) rotate(-45deg);
}
